section.repository-list {
    margin: 40px;

    h1 {
        font-size: 30px;
        margin-bottom: 16px;
    }

    ul {
        list-style: none;

        li {
            & + li {
                margin-top: 20px;
                padding-top: 20px;
                border-top: 1px solid #eee;
            }
        }

        span {
            font-weight: bold;
        }

        p {
            font-size: 14px;
            color: #444;
            margin-top: 8px;
        }

        a {
            display: inline-block;
            margin-top: 16px;
            text-decoration: none;
            color: #8257E6;
        }
    }
}